<div class="col-md-7">
  <div class="padding-top">
    <div class="row padding-top">
      <div class="text-center control" (click)="goForward()">
        <i class="fa fa-arrow-up fa-4x"></i>
      </div>
    </div>
    <div class="row padding-top">
      <div class="text-center control-side" (click)="turnLeft()">
        <i class="fa fa-arrow-left fa-4x"></i>
      </div>
      <div class="text-center control-side" (click)="turnRight()">
        <i class="fa fa-arrow-right fa-4x"></i>
      </div>
    </div>
    <div class="row padding-top">
      <div class="text-center control" (click)="goBackward()">
        <i class="fa fa-arrow-down fa-4x"></i>
      </div>
    </div>
  </div>
</div>
